.example-spacer {
  flex: 1 1 auto;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#logo {
  width: 100px;
}

.m294-sidenav-content {
  padding: 20px;
}
