.mat-column-id{
  width: 5%;
}

.mat-column-payingAccount{
  width: 20%;
}

.mat-column-receivingAccount{
  width: 20%;
}

.mat-column-amount{
  width: 10%;
}

.mat-column-time{
  width: 10%;
}

.mat-column-description{
  width: 35%;
}
